files:

  "/etc/nginx/sites-available/elasticbeanstalk-nginx-docker-proxy-timeout.conf":     
    mode: "000644"
    owner: root
    group: root
    content: |
      proxy_connect_timeout       30;
      proxy_send_timeout          30;
      proxy_read_timeout          30;
      send_timeout                30;
      
commands:
  "00nginx-create-proxy-timeout":
    command: "if [[ ! -h /etc/nginx/sites-enabled/elasticbeanstalk-nginx-docker-proxy-timeout.conf ]] ; then ln -s /etc/nginx/sites-available/elasticbeanstalk-nginx-docker-proxy-timeout.conf /etc/nginx/sites-enabled/elasticbeanstalk-nginx-docker-proxy-timeout.conf ; fi"